* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
::placeholder {
	color: #C0CCDA;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #C0CCDA;
}

::-ms-input-placeholder {
	color: #C0CCDA;
}
#home{
	background: url("../images/background\ -\ spotlight.svg");
}
header{
	padding: 35px 100px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1{
	width: 60px;
}
header h1 a{
	display: block;
}
header h1 a img{
	display: block;
	width: 100%;
}
header nav { 

}
header nav ul { 
	display: flex;
}
header nav ul li { 
	margin-right: 50px;
}	
header nav ul li:last-child { 
	margin-right: 0;
}	
header nav ul li:first-child a { 
	color: #FF7A00;
}	
header nav ul li a { 
	font-weight: bold;
	font-size: 18px;
	color: #080133;
}
#spotlight { 
	padding: 50px 0 ;
}
#spotlight section.container{ 
	display: flex;
	justify-content: space-between;
}
#spotlight section.container div.left { 
	width: 40%;
}
#spotlight section.container div.left h2 { 
	color: #FF7A00;
	font-family: 'poppinssemibold';
	font-size: 65px;
	line-height: 4.5rem;
	margin-bottom: 45px;
}
#spotlight section.container div.left h2 span { 
	color: #080133;
	display: block;
}
#spotlight section.container div.left p { 
	font-size: 17px;
	margin-bottom: 40px;
	width: 85%;
	color: #aaa;
	margin-bottom: 55px;
}
#spotlight section.container div.left a.button { 
	padding: 20px 50px;
	border-radius: 50px;
	background: #FBD573;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
	color: #080133;
}
#spotlight section.container div.right {	
	width: 45%;
	position: relative;
}
#spotlight section.container div.right div.image {
	width: 100%;
}
#spotlight section.container div.right div.image img{
	width: 100%;
	display: block;
}
#spotlight section.container div.right div.image2 {
	display: block;
	width: 60%;
	top: 67px;
	left: -182px;
	position: absolute;
}
#spotlight section.container div.right div.image2 img{
	display: block;
	width: 100%;
}
#main { 
	padding: 150px 0 50px;
	background: url("../images/background - thoran.png") no-repeat;
	background-size: 876px;
	background-position: left -283px top 10px;
}
#main section.container { 
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-bottom: 80px;
}
#main section.container div.left { 
	position: relative;
	width: 55%;
}
#main section.container div.left div.image { 
	width: 65%;
    position: absolute;
    right: 110px;
    top: -272px;
}
#main section.container div.left div.image img { 
	width: 100%;
	display: block;
}
#main section.container div.right { 
	width: 40%;
}
#main section.container div.right span { 
	font-size: 12px;
	margin-bottom: 10px;
	color: #FF7A00;
	display: block;
}
#main  section.container div.right h2 { 
	font-family: 'poppinssemibold';
	margin-bottom: 20px;
	font-size: 35px;
	color: #080133;
}
#main  section.container div.right h2 span { 
	color: #FF7A00;
	font-size: 35px;
	display: inline-block;
}
#main section.container div.right p { 
	font-size: 17px;
	margin-bottom: 35px;
	color: #aaa;
	width: 85%;
}
#main section.container div.right p b { 
	color: #FF7A00;
	font-weight: bold;
}
#main section.container div.right a.button { 
	padding: 20px 50px;
	border-radius: 50px;
	background: #FBD573;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
	color: #080133;
}
#main section.service { 
	width: 80%;
	margin: 150px auto 80px;
	text-align: center;
}
#main section.service span { 
	font-size: 12px;
	margin-bottom: 10px;
	color: #FF7A00;
	display: block;
}
#main section.service h2 { 
	font-family: 'poppinssemibold';
	margin-bottom: 25px;
	font-size: 35px;
	color: #080133;
}
#main section.service h2 span { 
	color: #FF7A00;
	font-size: 35px;
	display: inline-block;
}
#main section.service p { 
	color: #aaa;
	width: 85%;
	margin: 0 auto;
}
#main section.box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#main section.box div.item{
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	width: 48%;
	padding: 35px;
	margin-bottom: 43px;
	display: flex;
	border-radius: 15px;
}
#main section.box div.item.one{
	box-shadow: 0 0 53px -11px rgba(0, 0, 0, 0.1);
}
#main section.box div.item div.img{
	width: 20%;
	text-align: left;
}
#main section.box div.item div.img img{
	display: inline-block;
	width: 50px;
}
#main section.box div.item div.content{
	width: 80%;
	text-align: left;
}
#main section.box div.item div.content h2{
	font-family: 'poppinssemibold';
	font-size: 20px;  
	margin-bottom: 20px;
	color: #080133;
}
#main section.box div.item div.content p{
	font-size: 15px;
	color: #aaa;
}
#main div.bottom {
	text-align: center;
}
#main div a.button{
	padding: 20px 50px;
	border-radius: 50px;
	background: #FBD573;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
	color: #080133;
}
#overview { 
	padding: 150px 80px 100px;
    background: url(../images/background\ -\ thoran.svg) no-repeat;
    background-size: 842px;
    background-position: right -253px top 42px;
}
#overview section.container { 
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-bottom: 80px;
}
#overview section.container div.right { 
	width: 45%;
}
#overview section.container div.right span { 
	font-size: 12px;
	margin-bottom: 10px;
	color: #FF7A00;
	display: block;
}
#overview section.container div.right h2 { 
	font-family: 'poppinssemibold';
	margin-bottom: 20px;
	font-size: 35px;
	color: #080133;
	width: 90%;
}
#overview section.container div.right h2 span { 
	color: #FF7A00;
	font-size: 35px;
	display: inline-block;
}
#overview section.container div.right p { 
	font-size: 17px;
	margin-bottom: 35px;
	color: #aaa;
	width: 85%;
}
#overview section.container div.right p b { 
	color: #FF7A00;
	font-weight: bold;
}
#overview section.container div.right a.button { 
	padding: 20px 50px;
	border-radius: 50px;
	background: #FBD573;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
	color: #080133;
}
#overview section.container div.left { 
	width: 55%;
	position: relative;
}
#overview section.container div.left div.image { 
	width: 65%;
    position: absolute;
	right: -13px;
    top: -164px;
}
#overview section.container div.left div.image img { 
	width: 100%;
	display: block;
}
#map{
	
}
#map div.content{
	text-align: center;
	margin-bottom: 80px;
}
#map div.content a.about{
	font-size: 12px;
	margin-bottom: 10px;
	color: #FF7A00;
	display: block;
}
#map div.content h2{
	font-family: 'poppinssemibold';
	margin-bottom: 25px;
	color: #080133;
}
#map div.content h2 span{
	color: #FF7A00;
}
#map div.map{
	position: relative;
}
#map div.map img.one{
	width: 100%;
	display: block;
}
#map div.map img{
	width: 30px;
}
#map div.map img.two{
	position: absolute;
	top: 19px;
    left: 264px;
}
#map div.map img.three{
	position: absolute;
	top: 81px;
    left: 175px;
}
#map div.map img.four{
	position: absolute;
	top: 210px;
    left: 301px;
}
#map div.map img.five{
	position: absolute;
	bottom: 143px;
    left: 386px;
}
#map div.map img.six{
	position: absolute;
	bottom: 339px;
    left: 666px;
}
#map div.map img.seven{
	position: absolute;
	bottom: 311px;
    right: 380px;
}
#map div.map img.eight{
	position: absolute;
	top: 105px;
    right: 435px;
}
#map div.map div{
	padding: 4px 15px;
	border-radius: 4px;
	background: #fff;
	display: inline-block;
	text-align: center;
	box-shadow: 0 0 17px 4px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}
#map div.map div.one{
	position: absolute;
	top: 115px;
    left: 161px;
}
#map div.map div.two{
	position: absolute;
    bottom: 293px;
    right: 360px;

}
#map div.map div.three{
	position: absolute;
	top: 137px;
    right: 423px;
}
#map div.map div h6{
	color: #FF7A00;
	font-size: 7px;
	font-family: 'poppinssemibold';
}
#map div.map div p{
	color: #aaa;
	font-size: 6px;
}
#testimonial{
	padding-top: 50px;
    background: url("../images/background - thoran.png") no-repeat;
    background-size: 572px;
    background-position: left -22px bottom -114px;
}
#testimonial section.top{
	text-align: center;
	margin: 85px 0;
}
#testimonial section.top a.about{
	font-size: 12px;
	margin-bottom: 10px;
	color: #FF7A00;
	display: block;
}
#testimonial section.top h2{
	font-family: 'poppinssemibold';
	margin-bottom: 25px;
	color: #080133;
}
#testimonial section.top h2 span{
	color: #FF7A00;
}
#testimonial section.bottom{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
#testimonial section.bottom div.item {
	width: 33%;
	padding: 30px 33px 0;
}
#testimonial section.bottom div.item.middle{
	box-shadow: 0 0 53px -7px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
}
#testimonial section.bottom div.item span{
	width: 50px;
	position: relative;
	display: block;
}
#testimonial section.bottom div.item span img{
	display: block;
	width: 100%;
	border-radius: 50px;
	position: absolute;
	top: -54px;
	right: 5px;
	box-shadow: 0 0 53px -7px rgba(0, 0, 0, 0.1);
}
#testimonial section.bottom div.item p{
	font-size: 15px;
	width: 80%;
	color: #aaa;
	margin: 25px 0 50px;
}
#testimonial section.bottom div.item hr.line{
	border: 0.5px solid #f0efef;
	margin-bottom: 20px;
}
#testimonial section.bottom div.item div.one{
	display: flex;
	justify-content: space-between;
}
#testimonial section.bottom div.item div.one div.left h5{
	color: #080133;
	font-size: 13px;
	font-family: 'poppinssemibold';
	font-weight: bold;
}
#testimonial section.bottom div.item div.one div.left p.one{
	font-size: 12px;
	margin-top: 10px;
}
#testimonial section.bottom div.item div.one div.right img{
	width: 20px;
}
#work{
	padding: 0 100px 80px;
}
#work div.content{
	background: url("../images/background - work for us.png") no-repeat;
	background-size: cover;
	border-radius: 15px;
	padding: 100px 70px;
}
#work div.content h2{
	font-family: 'poppinssemibold';
	margin-bottom: 25px;
	text-align: center;
	color: #080133;
}
#work div.content h2 span{
	color: #FF7A00;
}
#work div.content p{
	font-size: 15px;
	color: #655555;
	font-weight: bold;
	text-align: center;
	margin: 0 auto 50px;
	max-width: 80%;
}
#work div.content form{
	text-align: center;
	position: relative;
}
#work div.content form input[type="text"]{
	padding: 20px 15px;
	font-size: 14px;
	display: inline-block;
	background: #fff;
	border-radius: 8px;
	width: 65%;
	margin-right: 5px;
}
#work div.content form button{
	padding-right: 14px;
	position: absolute;
	right: 247px;
	top: 20px;
}
#work div.content form button img{
	display: inline-block;
	width: 14px;
}
#work div.content form input[type="submit"]{
	padding: 20px 35px;
	background: #080133;
	color: #fff;
	border-radius: 15px;
}
footer{
	padding: 30px 100px;
}
footer div.content{
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
footer div.content div.item{
	width: 15%;
}
footer div.content div.item.one{
	width: 45%;
}
footer div.content div.item.one h1{
	width: 60px;
	margin-bottom: 30px;
}
footer div.content div.item.one h1 a{
	display: block;
}
footer div.content div.item.one h1 a img{
	display: block;
	width: 100%;
}
footer div.content div.item.one p{
	font-size: 15px;
	color: #aaa;
	line-height: 1.7em;
	width: 90%;
}
footer div.content div.item ul{
}
footer div.content div.item ul li{
	font-size: 13px;
	margin-bottom: 15px;
	color: #9895aa;
}
footer div.content div.item ul li h3{
	font-size: 14px;
	font-family: 'poppinssemibold';
	margin-bottom: 30px;
	color: #000;
}
footer div.content div.item ul li p{
	font-size: 15px;
	color: #aaa;
	width: 98%;
}
footer div.content div.item ul li.flex {
	display: flex;
}
footer div.content div.item ul li.flex div{
	width: 42px;
	height: 42px;
	background:  #FBD573;
	border-radius: 50px;	
	margin-right: 15px;
}
footer div.content div.item ul li.flex div a{
	display: inline-block;
	width: 9px;
	margin-left: 16px;
    margin-top: 12px;
}
footer div.content div.item ul li.flex div img{
	width: 100%;
	display: block;
	
}
footer div.content div.item ul li.flex div a.one{
	width: 15px;
    margin-left: 15px;
    margin-top: 14px;
}
footer div.content div.item ul li.flex div a.two{
	width: 19px;
    margin-left: 11px;
    margin-top: 14px;
}
footer div.bottom{
	text-align: center;
}
footer div.bottom hr{
	margin-bottom: 30px;
	border: 0.5px solid #f0efef;
	}
footer div.bottom p{
	color: #7f7e7b;
	font-size: 14px;
}
footer div.bottom p a{
	color: #ff8210;
	font-weight: bold;
}

/* responsive */

@media all and (max-width: 1380px){
	header nav ul li a {
		font-size: 16px;
	}
	#work div.content form button {
		right: 207px;
	}
	footer div.content div.item {
		width: 18%;
	}
	#main{
		background-size: 704px;
		background-position: left -191px top 12px;
	}
	#main section.container div.left div.image {
		top: -287px;
		right: 66px;
	}
	#testimonial {
		background-size: 468px;
		background-position: left -17px bottom -22px;
	}
	
	#map div.map img.two {
		top: 11px;
		left: 243px;
	}
	#map div.map img.three {
		top: 70px;
		left: 155px;
	}
	#map div.map div.one {
		top: 103px;
		left: 141px;
	}
	#map div.map img.four {
		top: 184px;
		left: 264px;
	}
	#map div.map img.eight {
		top: 95px;
		right: 385px;
	}
	#map div.map div.three {
		top: 128px;
		right: 368px;
	}
	#map div.map img.six {
		bottom: 294px;
		left: 593px;
	}
	#map div.map div.two {
		bottom: 248px;
		right: 309px;
	}
	#map div.map img.seven {
		bottom: 263px;
		right: 334px;
	}
	#map div.map img.seven {
		bottom: 263px;
		right: 334px;
	}
	#map div.map img.five {
		bottom: 124px;
		left: 344px;
	}	
}
@media all and (max-width: 1280px){
	header nav ul li {
		margin-right: 25px;
	}
	#spotlight section.container div.left h2 {
		font-size: 55px;
	}
	#spotlight section.container div.right {
		width: 40%;
	}
	#spotlight section.container div.right div.image2 {
		top: 48px;
		left: -140px;
	}
	#spotlight section.container div.left {
		width: 45%;
	}
	#spotlight section.container div.left p {
		width: 95%;
	}
	#main section.container div.right {
		width: 50%;
	}
	#main {
		background-size: 582px;
		background-position: left -191px top 106px;
	}
	#main section.container div.left div.image {
		top: -182px;
		right: 52px;
	}
	#main section.container div.right p {
		width: 90%;
	}
	#overview {
		background-size: 715px;
		background-position: right -253px top 105px;
	}
	#overview section.container div.left div.image {
		width: 72%;
	}
	#overview {
		padding: 150px 30px 100px;
		background-size: 703px;
		background-position: right -202px top 107px;
	}
	#overview section.container div.right {
		width: 55%;
	}
	#overview section.container div.left {
		width: 50%;
	}
	#overview section.container div.left div.image {
		width: 85%;
	}	
	#overview section.container div.right p {
		width: 100%;
	}
	#map div.map img.two {
		top: -11px;
		left: 210px;
	}
	#map div.map img.three {
		top: 59px;
		left: 125px;
	}
	#map div.map img.four {
		top: 139px;
		left: 215px;
	}
	#map div.map div.one {
		top: 91px;
		left: 112px;
	}
	#map div.map img.five {
		bottom: 95px;
		left: 282px;
	}
	#map div.map img.six {
		bottom: 234px;
		left: 483px;
	}
	#map div.map img.eight {
		top: 76px;
		right: 311px;
	}
	#map div.map div.three {
		top: 108px;
		right: 296px;
	}
	#map div.map img.seven {
		bottom: 223px;
		right: 273px;
	}
	#map div.map div.two {
		bottom: 205px;
		right: 257px;
	}
	#testimonial {
		background-size: 449px;
		background-position: left -74px bottom -22px;
	}
	#testimonial section.bottom div.item p {
		width: 100%;
	}
	#work {
		padding: 0 30px 80px;
	}
	#work div.content {
		background: url("../images/background - work for us.png") no-repeat;
		background-size: cover;
		border-radius: 15px;
		padding: 101px 20px;
	}
	footer {
		padding: 30px 60px;
	}
}
@media all and (max-width: 1080px){
	#overview {
		background-size: 625px;
	}
	#map div.map img.five {
		bottom: 97px;
		left: 264px;
	}
	#map div.map img.two {
		top: -13px;
		left: 196px;
	}
	#map div.map img.three {
		top: 47px;
		left: 129px;
	}
	#map div.map div.one {
		top: 79px;
		left: 117px;
	}
	#map div.map img.four {
		top: 134px;
		left: 200px;
	}
	#map div.map img.six {
		bottom: 226px;
		left: 443px;
	}
	#map div.map img.eight {
		top: 72px;
		right: 290px;
	}
	#map div.map div.three {
		top: 108px;
		right: 275px;
	}
	footer div.content div.item.one p {
		width: 80%;
	}
}
@media all and (max-width: 980px){
	header {
		padding: 35px 33px 60px;
	}
	header nav ul li a {
		font-size: 14px;
	}
	#spotlight section.container div.left h2 {
		font-size: 40px;
		line-height: 3.5rem;
		margin-bottom: 25px;
	}
	#spotlight section.container div.right div.image2 {
		top: 31px;
		left: -86px;
	}
	#spotlight section.container div.left p {
		width: 100%;
		font-size: 15px;
		margin-bottom: 35px;
	}
	#spotlight section.container div.right {
		width: 45%;
	}
	#spotlight section.container div.left a.button {
		padding: 16px 45px;
		font-size: 12px;
	}
	#main {
		padding: 90px 0 50px;
		background-size: 504px;
		background-position: left -191px top 80px;
	}
	#main div a.button {
		padding: 16px 45px;
		font-size: 14px;
	}
	#main section.container div.left div.image {
    	width: 85%;
		top: -186px;
	}
	#main section.container div.right h2 {
		margin-bottom: 15px;
	}
	#main section.container div.right p {
		font-size: 14px;
		margin-bottom: 30px;
	}
	#main section.container div.right a.button {
		padding: 16px 45px;
		font-size: 14px;
	}
	#main section.service p {
		width: 100%;
	}
	#main section.box div.item {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 30px;
	}	
	#overview {
		padding: 120px 30px 30px;
		background-position: right -202px top 47px;
		background-size: 572px;
	}
	#overview section.container div.left div.image {
		width: 100%;
	}
	#overview section.container div.right p {
		font-size: 14px;
	}
	#overview section.container div.right h2 {
		font-size: 25px;
	}
	#overview section.container div.right h2 span{
		font-size: 25px;
	}
	#overview section.container div.right a.button {
		font-size: 14px;
		padding: 16px 50px;
	}	
	#map div.map img{
		width: 16px;
	}
	#map div.map img.two {
		top: -3px;
		left: 156px;
	}
	#map div.map img.three {
		top: 42px;
		left: 94px;
	}
	#map div.map div {
		padding: 1px 8px;
	}
	#map div.map div.one {
		top: 62px;
		left: 80px;
	}
	#map div.map div.one {
		top: 62px;
		left: 80px;
	}	
	#map div.map img.five {
		bottom: 74px;
		left: 208px;
	}
	#map div.map img.eight {
		top: 56px;
		right: 230px;
	}
	#map div.map div.three {
		top: 74px;
		right: 216px;
	}
	#map div.map img.six {	
		bottom: 170px;
		left: 474px;
	}
	#map div.map div.two {
		bottom: 153px;
		right: 186px;
	}
	#map div.map img.seven {
		bottom: 176px;
		right: 322px;
	}
	#testimonial {
		padding-top: 0;
		background: none;
	}
	#testimonial section.bottom div.item p {
		font-size: 13px;
	}
	#testimonial section.bottom div.item {
		width: 33%;
		padding: 30px 20px 0;
	}
	#testimonial section.bottom div.item div.one div.right img {
		width: 15px;
	}
	#work div.content {
		padding: 35px 0;
	}		
	#work div.content p {
		font-size: 13px;
	}
	#work div.content form input[type="text"] {
    	padding: 15px 15px;
	}
	#work div.content form button {
		right: 177px;
	}
	#work div.content form input[type="submit"] {
		padding: 15px 35px;
	}
	footer {
		padding: 10px 14px;
	}
	footer div.content div.item.one p {
		width: 90%;
	}
	footer div.content div.item.one p {
		font-size: 13px;
	}
	footer div.content div.item ul li p {
		font-size: 13px;
	}
	footer div.content div.item {
		width: 20%;
	}
	footer div.content div.item ul li.flex div {
		width: 34px;
		height: 34px;
	}
	footer div.content div.item ul li.flex div a {
		margin-left: 13px;
		margin-top: 9px;
	}		
	footer div.content div.item ul li.flex div a.one {
		width: 15px;
		margin-left: 11px;
	}
	footer div.content div.item ul li.flex div a.two {
		margin-left: 8px;
		margin-top: 10px;
	}
	footer div.content div.item.one {
		width: 40%;
	}
	footer div.content div.item ul li {
		font-size: 12px;
	}
	footer div.bottom {
		padding-bottom: 15px;
	}
}
@media all and (max-width: 768px){
	header nav ul li a {
		font-size: 12px;
	}
	header nav ul li {
		margin-right: 16px;
	}
	#spotlight section.container div.left h2 {
		font-size: 35px;
	}	
	#spotlight section.container div.left p {
		font-size: 13px;
	}
	#spotlight section.container div.left p {
		width: 100%;
		font-size: 13px;
	}
	#main {
		background-size: 431px;
		background-position: left -191px top 91px;
	}
	#main section.container div.left div.image {
		right: 13px;
		width: 90%;
		top: -155px;
	}
	#main section.container div.right p {
		width: 95%;
	}
	#main section.service {
		width: 90%;
		margin: 150px auto 100px;
	}
	#overview {
		background-position: right -202px top 71px;
		background-size: 499px;
	}
	#overview section.container div.right h2 {
		font-size: 22px;
	}	
	#overview section.container div.right h2 span{
		font-size: 22px;
	}	
	#overview section.container div.right {
		width: 54%;
	}
	#overview section.container div.left {
		width: 45%;
	}
	#map div.map img.two {
		top: 6px;
		left: 122px;
	}
	#map div.map img.three {
		top: 37px;
		left: 77px;
	}
	#map div.map div.one {
		top: 52px;
		left: 64px;
	}
	#map div.map img.four {
		top: 93px;
		left: 132px;
	}
	#map div.map img.five {
		bottom: 62px;
		left: 173px;
	}
	#map div.map img.seven {
		bottom: 146px;
		right: 266px;
	}
	#map div.map img.six {
		bottom: 142px;
		left: 394px;
	}
	#map div.map div.two {
    bottom: 125px;
    right: 154px;
	}
	#map div.map img.eight {
		top: 46px;
		right: 192px;
	}
	#map div.map div.three {
		top: 66px;
		right: 178px;
	}
	#testimonial section.bottom {
		flex-wrap: wrap;
		margin-bottom: 40px;
	}
	#testimonial section.bottom div.item {
		width: 48%;
		padding: 30px 35px 0;
	}
	#testimonial section.bottom div.item:last-child {
		margin-top: 100px;
	}
	#work div.content form button {
		right: 153px;
		top: 16px;
	}
	footer {
		padding: 25px 50px;
	}
	footer div.content {
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	footer div.content div.item {
		width: 35%;
		margin-bottom: 50px;
	}
	footer div.content div.item.one {
		width: 60%;
	}
	footer div.content div.item ul li.flex div {
		margin-right: 10px;
	}
	footer div.content div.item ul li.flex div a.one {
		margin-top: 11px;
	}
	@media all and (max-width: 640px){
		header nav ul {
			display: none;
		}
		
                       
	}
		
	

	
    

	



	
	
	
	
}